@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ====================== ROOT VARAIBLES ====================== */
:root {
    --color-primary: #F18A0E;
    --color-secundary: #FFF6EB;
    --color-dark: #2B2B2B;
    --color-background: #FDFDFD;
    --color-white: #FFFFFF;
    --color-gray1: #F4F4F4;
    --color-gray2: #939393;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    background: var(--color-background);
}